$green: #ddf2e0;
$green-dark: #a7bdaa;

$bg-white: #ffffff;

// flex mixin 정의
@mixin flex(
  $direction: row,
  $justify: flex-start,
  $align: stretch,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
